<div class="container mt-5">
    <h2 class="text-center mb-4">Kreirajte novu porudžbinu</h2>

    <form (ngSubmit)="submitOrder()" #orderForm="ngForm">
        <div class="form-group">
            <div *ngFor="let dish of dishes" class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        [id]="dish.id"
                        [value]="dish.id"
                        [checked]="selectedDishes.has(dish.id)"
                        (change)="toggleDishes(dish.id)"
                />
                <label [for]="dish.id">{{ dish.name }} - {{ dish.price }} RSD</label>
            </div>
        </div>



        <button type="submit" class="btn btn-primary" [disabled]="!orderForm.valid">Order</button>

    </form>
    <div *ngIf="can_schedule_order" class="form-group">
        <label for="orderDate">Select Order Date and Time</label>
        <input
                type="datetime-local"
                id="orderDate"
                name="orderDate"
                [(ngModel)]="scheduledDate"
                class="form-control"
                required
        />
    </div>
    <button *ngIf="can_schedule_order" class="btn btn-secondary" [disabled]="!scheduledDate" (click)="scheduleOrder()">
        Schedule Order
    </button>
    <div>
        <label>Order price: {{ totalPrice }}</label>
    </div>

</div>
