<form (ngSubmit)="searchOrders()" #searchForm="ngForm" class="mb-4">
    <div class="row">

        <div class="col-md-4" *ngIf="isAdmin">
            <label for="userId" class="form-label">User</label>
            <select id="userId" name="userId" class="form-select" [(ngModel)]="email">
                <option value="" disabled selected>Select a user</option>
                <option *ngFor="let user of users" [value]="user.email">
                    {{ user.email }}
                </option>
            </select>
        </div>


        <div class="col-md-4">
            <div class="form-check" *ngFor="let statusOption of statusOptions">
                <input
                        type="checkbox"
                        class="form-check-input"
                        [id]="statusOption"
                        [value]="statusOption"
                        (change)="toggleStatuses(statusOption)"
                        [checked]="status.has(statusOption)"
                />
                <label class="form-check-label" [for]="statusOption">
                    {{ statusOption }}
                </label>
            </div>
        </div>

        <!-- Date Range Filters -->
        <div class="col-md-4">
            <label for="dateFrom" class="form-label">Date From</label>
            <input type="datetime-local" id="dateFrom" name="dateFrom" class="form-control" [(ngModel)]="dateFrom">
        </div>
        <div class="col-md-4 mt-3">
            <label for="dateTo" class="form-label">Date To</label>
            <input type="datetime-local" id="dateTo" name="dateTo" class="form-control" [(ngModel)]="dateTo">
        </div>

        <!-- Search Button -->
        <div class="col-md-4 mt-3 align-self-end">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>

        <div class="col-md-4 mt-3 align-self-end">
            <button *ngIf="can_track_order && !isConnected"
                    type="button"
                    class="btn btn-primary w-100"
                    id="trackButton"
                    (click)="connect()"
            >
                Track
            </button>
        </div>

        <div class="col-md-4 mt-3 align-self-end">
            <button *ngIf="can_track_order && isConnected"
                    type="button"
                    class="btn btn-primary w-100"
                    id="disconnectButton"
                    (click)="disconnect()"
            >
                Disconnect
            </button>
        </div>
    </div>
</form>

<!-- Orders Table -->
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.createdBy.email }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.createdAt }}</td>
            <button *ngIf="can_cancel_order && order.status == 'ORDERED' && can_track_order" class="btn btn-danger btn-sm" (click)="cancelOrder(order.id)">
                Cancel
            </button>
        </tr>

        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="pageChanged(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i === currentPage">
            <button class="page-link" (click)="pageChanged(i)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <button class="page-link" (click)="pageChanged(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>

